<div class="col s10 m10 offset-s1 offset-m1">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
    <div class="row">  
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>
    <div class="row">  
      <div class="actions">
        <%= f.submit "Log in", class: "btn green" %>
      </div>
    </div>
  <% end %>

  <%= render "user/shared/links" %>
</div>