<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th data-field="id">User Email</th>
          <th>Test</th>
          <th>Marks</th>
          <th>result</th>
          <th>Date</th>
          <th>Share</th>
          <th data-field="name" style="padding-left:40px;">Check Test</th>
        </tr>
      </thead>

      <tbody>
        <% @responses.each do |response| %>
          <% count = 0 %>
          <tr>
            <td><%= response.user.email %></td>
            <td>T1</td>
            <td>
                <% res = @res.where(response_set_id: response.id) %>
                <% res.each do |test| %>
                <% answer = Answer.find_by_id(test.answer_id) %>
                    <% correct= test.question.answers.where(is_correct: true).first %>
                    <%  if answer == correct %>
                      <% count += 1 %>
                    <% end %>
                <% end %>
              <%= count %>
            </td>
            <td>
              <% if count > 4  %>
                Pass
              <% else %>
                Fail
              <% end %>
            </td>
            <td><%= response.started_at.strftime("%m-%d-%Y") %></td>
            <td><i class="material-icons">mail</i></td>
            <td><%= link_to "Check Test", response_set_path(response), class: "btn  light-green darken-3 " %></td>
            <td>
              <p>
                Download:
                <%= link_to "PDF", response_set_path(response, format: "pdf") %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>