<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th data-field="id">User Email</th>
          <th>Test</th>
          <th>Marks</th>
          <th>result</th>
          <th>Date</th>
          <th>Share</th>
          <th data-field="name" style="padding-left:40px;">Check Test</th>
        </tr>
      </thead>

      <tbody>
        <% @responses.each do |response_set| %>
          <% count = 0 %>
          <tr>
            <td><%= response_set.user.email %></td>
            <td>T1</td>
            <td>
              <%= response_set.correct_answers_count %>
            </td>
            <td>
              <%= response_set.result %>
            </td>
            <td><%= response_set.created_at.strftime("%m-%d-%Y") %></td>
            <td><i class="material-icons">mail</i></td>
            <td><%= link_to "Check Test", response_set_path(response_set), class: "btn  light-green darken-3 " %></td>
            <td>
              <p>
                Download:
                <%= link_to "PDF", response_set_path(response_set, format: "pdf"), target: "_blank" %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>        