
<div class="row">
  <div class="col s12" style="padding-bottom: 20px;">
    <table class="bordered">
      <thead>
        <tr>
          <th data-field="id">Question</th>
          <th data-field="name">Given Answer</th>
          <th data-field="name">Correct Answer</th>
          <th data-field="name">Result</th>
        </tr>
      </thead>

      <tbody>
        <% @response_set.responses.each do |response| %>
        	<tr>
            <td><%= response.question.text %></td>
            <td><%= response.answer.text unless response.answer.nil? %></td>
            <% correct = response.question.answers.where(is_correct: true).first %>
            <td><%= correct.text %></td>
            <!-- <td><%#= link_to "Check Test", response_set_path(response), class: "btn red" %></td> -->
          	<td>
		          <%= (response.answer == correct) ? "Correct" : "Incorrect" %>
          	</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />
    <%= link_to "Back", response_sets_path, class: "btn blue" %><br />
  </div>
    <br /><br />
</div>        