<!DOCTYPE html>
<html>
	<head>
	  <title>Exam</title>
          
	  <%= stylesheet_link_tag    'application', media: 'all' %>
 	  <%= javascript_include_tag 'application' %>

	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	  <%= csrf_meta_tags %>

	</head>
	 <body style="display: flex; min-height: 100vh; flex-direction: column;">
	 	<header>
 		  <nav>
		    <div class="nav-wrapper cyan darken-3">
		      <a href="#" class="brand-logo">
		      	<%= image_tag("ea-logo.png", :alt => "Logo", size: "200x60") %>
	      	</a>
		      <ul id="nav-mobile" class="right">
	        	<% if current_user && current_user.email == "admin@admin.com" %>
		        	<li>
		        		<%= link_to "CHECK TEST", response_sets_path %></li>
		        	</li>
		        	<% else %>
	        			<li id="ms_timer" class="teal lighten-3 center black-text">
		        	</li>
	        	<% end %>
		        <li>
		        	<% if current_user %>
		      			Welcome <%= current_user.email %>
		      		<% end %>
		      	</li>
		      	<li>
		        	<% if current_user %>
		      			<%= link_to "Signout", destroy_user_session_path, method: :delete %>
		      		<% end %>
		      	</li>
		      </ul>
		    </div>
		  </nav>

		 	
	 	</header>
	 	<content style="flex: 1 0 auto;	padding: 20px; min-height: 489px;">
		  <div class="container z-depth-2 white" style="padding-left: 20px;">
			  <div class="content row">
					<%= yield %>    
			  </div>
	 		</div>
	 	</content>
    <footer class="page-footer cyan darken-3 center white-text">
      	© 2015 Copyright EA Technologies
    </footer>
	</body>
</html>