<!DOCTYPE html>
<html>
	<head>
	  <title>Exam</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
          
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	</head>
	 <body>
	  <div class="container z-depth-2 white">
		 	<nav>
		    <div class="nav-wrapper">
		      <%= image_tag("ea-logo.png", :alt => "rss feed", style: "padding-top: 4px; padding-left: 5px;", size: "200x60") %>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <% if current_user %>
		        	<li style="margin-top: 20px;"><%= link_to "SIGNOUT", destroy_session_path(current_user), method: :delete %></li>
		        <% end %>
		      </ul>
		    </div>
		  </nav>
		  <div class="content" style= "padding: 20px;">
				<%= yield %>    
		  </div>

      <footer class="page-footer">
        <div class="footer-copyright">
        	© 2014 Copyright Text
        </div>
      </footer>
	  </div>
	</body>
</html>
