<!DOCTYPE html>
<html>
	<head>
	  <title>Exam</title>
          
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
	  
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
		<script type="text/javascript" src="jquery.countdownTimer.js"></script>
		<link rel="stylesheet" type="text/css" href="jquery.countdownTimer.css" />
	  <%= csrf_meta_tags %>

	</head>
	 <body style="display: flex; min-height: 100vh; flex-direction: column;">
	 	<header>
		 	<nav >
		    <div class="nav-wrapper" style="background-color: #00838F">
		      <div>
		      <div style="float: left;"><%= image_tag("ea-logo.png", :alt => "rss feed", style: "padding-top: 4px; padding-left: 5px;", size: "200x60") %></div>
		      <div style="float: left;padding-left: 30px;">Welcome <%= current_user.email %> </div>
		      <% unless current_user.email == "admin@admin.com" %>
		      	<div style="float: left;padding-left: 30px;">
		      		Test: T1  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      	  	Date: <%= Date.today %>
	      	  </div>
	      	<% end %>
		      <ul id="nav-mobile" class="right" style="margin-top: 22px;">
	      	  <% if current_user && current_user.email == "admin@admin.com" %>
		        	<li><%= link_to "CHECK TEST", response_sets_path %></li>
		        <% else %>
		        	<li style="display: inline;"> 
				      	<div id="countdowntimer"><span>Remaining time:
				      		<span id="ms_timer" style="background-color: #000;"></span>
				      	</span>
				      	</div>
			      	</li>
		        <% end %>
		        <% if current_user %>
		        	<li><%= link_to "SIGNOUT", destroy_session_path(current_user), method: :delete %></li>
		        <% end %>
		      </ul>
		     </div>
		    </div>
		  </nav>
	 	</header>
	 	<content style="flex: 1 0 auto;	padding: 20px; min-height: 489px;">
		  <div class="container z-depth-2 white" style="padding-left: 20px;">
			  <div class="content">
					<%= yield %>    
			  </div>
	 		</div>
	 	</content>
    <footer class="page-footer" style="background-color: #00838F">
      <div class="footer-copyright center">
      	© 2015 Copyright EA Technologies
      </div>
    </footer>
	</body>
</html>

<script>
	

</script>